{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:css-modules/recommended",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "css-modules",
    "flowtype",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "flowtype/no-types-missing-file-annotation": 0,
    "react/jsx-filename-extension": "off",
    "prettier/prettier": "error"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
